.App{
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: "Nunito", sans-serif;
  background-image: linear-gradient(90deg ,#017b56, #11c376);
}
body{
  padding: 0;
  margin: 0;
}